# Enable Passenger for Python app
PassengerEnabled On
PassengerAppRoot /home2/aacsjour/repositories/aacs/backend
PassengerPython /home2/aacsjour/virtualenv/dev/3.11/bin/python

# Route all requests to the FastAPI app
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ / [QSA,L]
