/* Carousel Indicators */
.carousel-indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #bbb; /* Changed to gray */
  cursor: pointer;
  transition: background-color 0.3s;
}
/* Carousel Container */
.carousel-container {
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

.carousel {
  width: 100%;
  position: relative;
}

.carousel-item {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  background: #ffffff;
  display: block;
  margin: 0 auto;
}

.slider-description {
  z-index: 50;
  position: absolute;
  bottom: 150px;
  left: 0px;
  width: 100%;
  max-width: 350px;
  background: url("https://static.aacsjournals.com//images/bg_trans.png");
  height: 100px;
  padding: 10px;
  color: #000;
}

.slider-description h5 {
  font-size: 14px;
  margin: 10px 0;
  padding: 0;
  color: #FFF;
}

.slider-description h4 {
  margin: 0;
  background: #0d4016;
  font-size: 100%;
  padding: 2px 3px;
  font-family: "Trebuchet MS", Trebuchet, Arial, Verdana, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.d-none {
  display: none;
}

.d-lg-block {
  display: block;
}

@media (max-width: 768px) {
  .carousel-item {
    min-height: 300px;
  }
  
  .slider-description {
    bottom: 100px;
    max-width: 250px;
  }
}

@media (min-width: 992px) {
  .d-none.d-lg-block {
    display: block !important;
  }
}